* {
  background-color: rgb(65, 65, 65);
  color: rgb(214, 214, 214);
}

@keyframes animate {
  0% {
    height: 50px;
    width: 50px;
  }
  100% {
    height: 100px;
    width: 100px;
  }
}

#animated-box {
  animation: animate 1s ease-in-out 0s infinite alternate;
  background-color: cornflowerblue;
}

select {
  width: 100px;
}
